@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

/* Body */
body{
    background-color: #f6d051;
    font-family: 'Figtree', sans-serif;
}

.main-card{
background-color: white;
border-radius: 1.2rem;
box-shadow: .7rem .7rem, .08rem .08rem inset;
position: relative;
padding: 2rem;
margin: auto;
height: 31rem;
width: 20rem;
}

.main-card img{
border-radius: 1.2rem;
}

.type-of h1, .content-words p, .date{
font-size: 16px;
}

.type-of{
    background-color: #f6d051;
    height: 2rem;
    width: 5rem;
    padding: 1px 10px;
    border-radius: .5rem;
    font-weight: 800;
}

.type-of h1{
    text-align: center;
    top: 50%;
    transform: translateY(-15%);
}

.content-words{
    color: hsl(0, 0%, 42%);
    font-weight: 500;
}

.publisher p{
font-weight: 800;
position: relative;
left: .7rem;
top: 1rem;
}

.publisher img{
    float: left;
    max-width: 15%;
    height: auto;
}

/* Footer */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
